html,
body,
header,
.view {
    height: 100%;
}

@media (max-width: 740px) {
    html,
    body,
    header,
    .view {
        height: 100vh;
    }
}

.top-nav-collapse {
    background-color: #78909c !important;
}

.navbar:not(.top-nav-collapse) {
    background: transparent !important;
}

@media (max-width: 991px) {
    .navbar:not(.top-nav-collapse) {
        background: #78909c !important;
    }
}

h1 {
    letter-spacing: 16px;
    font-family: Quicksand;
    color: whitesmoke;
}

h5 {
    letter-spacing: 3px;
    color: whitesmoke;
}

h6 {
    letter-spacing: 3px;
    color: whitesmoke;
}

.hr-light {
    border-top: 3px solid whitesmoke;
    width: 80px;
}

.context-dark,
.bg-gray-dark,
.bg-primary {
    color: rgba(255, 255, 255, 0.8);
}

.footer-classic a,
.footer-classic a:focus,
.footer-classic a:active {
    color: whitesmoke;
}

.nav-list li {
    padding-top: 5px;
    padding-bottom: 5px;
}

.nav-list li a:hover:before {
    margin-left: 0;
    opacity: 1;
    visibility: visible;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}


/* .social-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 23px;
    font: 900 13px/1 "Lato", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
} */

.social-container .col {
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.nav-list li a:before {
    content: "\f14f";
    font: 400 21px/1 "Material Design Icons";
    color: red;
    display: inline-block;
    vertical-align: baseline;
    margin-left: -28px;
    margin-right: 7px;
    opacity: 0;
    visibility: hidden;
    transition: .22s ease;
}

.jumbotron {
    background: url(https://images.pexels.com/photos/59305/pexels-photo-59305.png?auto=compress&cs=tinysrgb&dpr=2&w=500) fixed center no-repeat;
    background-size: cover;
}